

<div class="container py-3">

    <div class="card border-primary">
        <div class="card-header bg-primary card-title text-white">
            <h1 class="card-title">Bienvenido!</h1>
        </div>
        <div class="card-body border-primary">
          <h2 class="card-title">Registracion Completa</h2>
          <h4 class="card-text">felicitaciones, su cuenta ha sido creada con éxito</h4>
          <a [routerLink]="['/login']" class="btn btn-success">Iniciar Sesión</a>
        </div>
      </div>

</div>